@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

body {
  /* background: linear-gradient(to top, #CFFDFB, #AF85E400); */

  /* background: linear-gradient(to bottom, #CFFDFB, #AF85E4); */
  /* background: linear-gradient(179deg, #CFF5FD 1.12%, rgba(175, 133, 228, 0.00) 112.86%); */
  font-family: 'Inter', sans-serif;

}

header, nav{
  z-index: 10001 !important;
}


.section-container {
  @apply max-w-screen-2xl container mx-auto xl:px-24 px-4 
}

.button {
  @apply btn border-none bg-[#FC6D87] hover:bg-[#FF7A92] hover:shadow-lg rounded-full px-6  items-center text-[#fff]
}

.backgroundPrimary {
  @apply bg-gradient-to-tr from-[#FADBFF] to-[#CF95FD]
}


.subTitle{
  @apply text-[#EB2424] uppercase tracking-wide font-medium text-lg
}

.title{
  @apply text-[#0E3E4E] text-4xl md:text-5xl font-bold my-2 md:leading-snug leading-snug
}

.heartStar{
   border-radius: 0px 28px 0px 28px;
}

.active{
  text-decoration: underline;
  text-underline-offset: 5px;
  color: #FC6D87;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}